/* Write your CSS code here */
bg-co {
  display: flex;
  align-items: center;
  background-color: #ffff;
  height: 100vh;
   box-shadow: 0px 4px 16px 0px #bfbfbf;
}

.heading-1 {
  font-family: 'roboto';
  font-size: 35px;
  font-weight: 800;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
.form-co {
  display: flex;
  justify-content: center;

  flex-direction: column;
}
.fistName-label {
  font-size: 30px;
  font-weight: 800;
  font-family: 'roboto';
  color: #000;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
.input-firstName {
  font-size: 22px;
  font-weight: 600;
  font-family: Roboto;
  color: #000;
  border: 1px solid #9aa5b1;
  background-color: #ffff;
  height: 50px;
  width: 600px;
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
.lastName-label {
  font-size: 30px;
  font-weight: 800;
  font-family: 'roboto';
  color: #000;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
.input-lastName {
  font-size: 22px;
  font-weight: 600;
  font-family: Roboto;
  color: #000;
  border: 1px solid #9aa5b1;
  background-color: #ffff;
  height: 50px;
  width: 600px;
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
.button-1 {
  height: 40px;
  width: 150px;
  background-color: #ea580c;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Roboto';
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0px;
}
.para-2 {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  color: red;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0px;
}
